.tile {
  position:relative;
  margin-bottom:15px;
  cursor:pointer;

  > img {
    display:block;
    transition: filter 400ms ease-in-out;
    filter:grayscale(0);
    width:100%;
  }

  &:hover > img {
    filter: grayscale(1);
  }

  &:before {
    content:'';
  }

  &:after {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:#000;
    opacity:0;
    transition:opacity 480ms ease-in-out;
    left:0;
    top:0;
  }
}
